	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/04/2018 10:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-worker:before { content: "\f100"; }
.flaticon-002-focus:before { content: "\f101"; }
.flaticon-003-presentation-1:before { content: "\f102"; }
.flaticon-004-partner-1:before { content: "\f103"; }
.flaticon-005-winner:before { content: "\f104"; }
.flaticon-006-business:before { content: "\f105"; }
.flaticon-007-strategy:before { content: "\f106"; }
.flaticon-008-speaker-1:before { content: "\f107"; }
.flaticon-009-collaboration:before { content: "\f108"; }
.flaticon-010-customer:before { content: "\f109"; }
.flaticon-011-speaker:before { content: "\f10a"; }
.flaticon-012-money-bag:before { content: "\f10b"; }
.flaticon-013-presentation:before { content: "\f10c"; }
.flaticon-014-planning-1:before { content: "\f10d"; }
.flaticon-015-partner:before { content: "\f10e"; }
.flaticon-016-teamwork-1:before { content: "\f10f"; }
.flaticon-017-key:before { content: "\f110"; }
.flaticon-018-meeting:before { content: "\f111"; }
.flaticon-019-planning:before { content: "\f112"; }
.flaticon-020-king:before { content: "\f113"; }
.flaticon-021-money:before { content: "\f114"; }
.flaticon-022-growth:before { content: "\f115"; }
.flaticon-023-racing:before { content: "\f116"; }
.flaticon-024-discussion:before { content: "\f117"; }
.flaticon-025-idea:before { content: "\f118"; }
.flaticon-026-question-1:before { content: "\f119"; }
.flaticon-027-connection:before { content: "\f11a"; }
.flaticon-028-conference:before { content: "\f11b"; }
.flaticon-029-teamwork:before { content: "\f11c"; }
.flaticon-030-risk:before { content: "\f11d"; }
.flaticon-031-calendar:before { content: "\f11e"; }
.flaticon-032-businessman:before { content: "\f11f"; }
.flaticon-033-award:before { content: "\f120"; }
.flaticon-034-analysis:before { content: "\f121"; }
.flaticon-035-agreement:before { content: "\f122"; }
.flaticon-036-question:before { content: "\f123"; }