    /*
    Flaticon icon font: Flaticon
    Creation date: 26/07/2018 08:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-diploma:before { content: "\f100"; }
.flaticon-002-professor:before { content: "\f101"; }
.flaticon-003-music:before { content: "\f102"; }
.flaticon-004-student:before { content: "\f103"; }
.flaticon-005-trophy:before { content: "\f104"; }
.flaticon-006-scissors:before { content: "\f105"; }
.flaticon-007-mail:before { content: "\f106"; }
.flaticon-008-scores:before { content: "\f107"; }
.flaticon-009-globe:before { content: "\f108"; }
.flaticon-010-lunch:before { content: "\f109"; }
.flaticon-011-briefcase:before { content: "\f10a"; }
.flaticon-012-test:before { content: "\f10b"; }
.flaticon-013-bell:before { content: "\f10c"; }
.flaticon-014-document:before { content: "\f10d"; }
.flaticon-015-elearning:before { content: "\f10e"; }
.flaticon-016-education-1:before { content: "\f10f"; }
.flaticon-017-microscope:before { content: "\f110"; }
.flaticon-018-pen-and-ink:before { content: "\f111"; }
.flaticon-019-rocket:before { content: "\f112"; }
.flaticon-020-art:before { content: "\f113"; }
.flaticon-021-tool:before { content: "\f114"; }
.flaticon-022-time:before { content: "\f115"; }
.flaticon-023-h2o:before { content: "\f116"; }
.flaticon-024-schedule:before { content: "\f117"; }
.flaticon-025-backpack:before { content: "\f118"; }
.flaticon-026-chemistry:before { content: "\f119"; }
.flaticon-027-science:before { content: "\f11a"; }
.flaticon-028-calculator:before { content: "\f11b"; }
.flaticon-029-school:before { content: "\f11c"; }
.flaticon-030-books:before { content: "\f11d"; }
.flaticon-031-attach:before { content: "\f11e"; }
.flaticon-032-idea:before { content: "\f11f"; }
.flaticon-033-library:before { content: "\f120"; }
.flaticon-034-design:before { content: "\f121"; }
.flaticon-035-biological:before { content: "\f122"; }
.flaticon-036-formula:before { content: "\f123"; }
.flaticon-037-basketball:before { content: "\f124"; }
.flaticon-038-math:before { content: "\f125"; }
.flaticon-039-space:before { content: "\f126"; }
.flaticon-040-notebook:before { content: "\f127"; }
.flaticon-041-cubes:before { content: "\f128"; }
.flaticon-042-book-1:before { content: "\f129"; }
.flaticon-043-book:before { content: "\f12a"; }
.flaticon-044-school-bus:before { content: "\f12b"; }
.flaticon-045-glasses:before { content: "\f12c"; }
.flaticon-046-study:before { content: "\f12d"; }
.flaticon-047-abc:before { content: "\f12e"; }
.flaticon-048-geography:before { content: "\f12f"; }
.flaticon-049-education:before { content: "\f130"; }
.flaticon-050-desk-lamp:before { content: "\f131"; }
    
    $font-Flaticon-001-diploma: "\f100";
    $font-Flaticon-002-professor: "\f101";
    $font-Flaticon-003-music: "\f102";
    $font-Flaticon-004-student: "\f103";
    $font-Flaticon-005-trophy: "\f104";
    $font-Flaticon-006-scissors: "\f105";
    $font-Flaticon-007-mail: "\f106";
    $font-Flaticon-008-scores: "\f107";
    $font-Flaticon-009-globe: "\f108";
    $font-Flaticon-010-lunch: "\f109";
    $font-Flaticon-011-briefcase: "\f10a";
    $font-Flaticon-012-test: "\f10b";
    $font-Flaticon-013-bell: "\f10c";
    $font-Flaticon-014-document: "\f10d";
    $font-Flaticon-015-elearning: "\f10e";
    $font-Flaticon-016-education-1: "\f10f";
    $font-Flaticon-017-microscope: "\f110";
    $font-Flaticon-018-pen-and-ink: "\f111";
    $font-Flaticon-019-rocket: "\f112";
    $font-Flaticon-020-art: "\f113";
    $font-Flaticon-021-tool: "\f114";
    $font-Flaticon-022-time: "\f115";
    $font-Flaticon-023-h2o: "\f116";
    $font-Flaticon-024-schedule: "\f117";
    $font-Flaticon-025-backpack: "\f118";
    $font-Flaticon-026-chemistry: "\f119";
    $font-Flaticon-027-science: "\f11a";
    $font-Flaticon-028-calculator: "\f11b";
    $font-Flaticon-029-school: "\f11c";
    $font-Flaticon-030-books: "\f11d";
    $font-Flaticon-031-attach: "\f11e";
    $font-Flaticon-032-idea: "\f11f";
    $font-Flaticon-033-library: "\f120";
    $font-Flaticon-034-design: "\f121";
    $font-Flaticon-035-biological: "\f122";
    $font-Flaticon-036-formula: "\f123";
    $font-Flaticon-037-basketball: "\f124";
    $font-Flaticon-038-math: "\f125";
    $font-Flaticon-039-space: "\f126";
    $font-Flaticon-040-notebook: "\f127";
    $font-Flaticon-041-cubes: "\f128";
    $font-Flaticon-042-book-1: "\f129";
    $font-Flaticon-043-book: "\f12a";
    $font-Flaticon-044-school-bus: "\f12b";
    $font-Flaticon-045-glasses: "\f12c";
    $font-Flaticon-046-study: "\f12d";
    $font-Flaticon-047-abc: "\f12e";
    $font-Flaticon-048-geography: "\f12f";
    $font-Flaticon-049-education: "\f130";
    $font-Flaticon-050-desk-lamp: "\f131";